.vscode
build/
versions/
/main.c

data/116-hours/data/performance/latency.csv
data/116-hours/data/trades/

data/62-hours/data/trades/*
!data/62-hours/data/trades/ADA-USDT.jsonl

report/*
!report/*.tex
!report/*.pdf

assignment.md